--extra-index-url https://download.pytorch.org/whl/cu128 # For GPU acceleration
torch # PyTorch
torchvision # PyTorch vision
torchaudio # PyTorch audio
pyyaml>=6.0 # YAML parser
pypdf>=4.1.0 # PDF parser
python-docx>=1.1.0 # DOCX parser
rank-bm25>=0.2.1 # BM25 ranking
numpy # Numerical computing
langchain==0.2.16 # LangChain
langchain-community==0.2.16 # LangChain community
langchain-huggingface>=0.0.3 # LangChain Hugging Face
langchain-text-splitters==0.2.4 # LangChain text splitters
beautifulsoup4>=4.12.0 # Beautiful Soup
sentence-transformers # Sentence Transformers
transformers # Transformers
faiss-cpu # FAISS
huggingface-hub # Hugging Face Hub